<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.SocialShareSDK" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>SocialShareSDK</name><js-module name="SocialShareSDK" src="www/SocialShareSDK.js"><clobbers target="cordova.plugins.SocialShareSDK" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="SocialShareSDK"><param name="android-package" value="cordova.plugin.SocialShareSDK.SocialShareSDK" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/SocialShareSDK.java" target-dir="src/cordova/plugin/SocialShareSDK/SocialShareSDK" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="SocialShareSDK"><param name="ios-package" value="SocialShareSDK" /></feature></config-file><source-file src="src/ios/SocialShareSDK.m" /></platform></plugin>